<<<<<<< HEAD
  <div id="top" class="show-border">&nbsp;</div>
  <div id="right" class="show-border">&nbsp;</div>
  <div id="bottom" class="show-border">&nbsp;</div>
  <div id="left" class="show-border">&nbsp;</div>


  <div class='gradient-container full-screen'>
  &nbsp;
    <!-- gradient background -->
      <div class="cut-out-background">

    <div>Some content will go here
  </div>
  </div>



  </div>

